.image{
    background: url("../../../Images/banner2.jpg");
    height: 100vh;
    background-repeat: no-repeat;
}
.heading{
    margin-top: 350px ;
    position: absolute;
    font-size: 48px;
    font-weight: bold;
    color: white;
    
}

